WebServiceAdmin/Connected Services/WSadmin/WSA2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="crear_usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_completo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crear_usuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crear_usuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editar_usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_completo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editar_usuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editar_usuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listar_usuarios">
        <s:complexType />
      </s:element>
      <s:element name="listar_usuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listar_usuariosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listar_usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listar_usuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listar_usuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="borrar_usuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre_usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="borrar_usuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="borrar_usuarioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crear_usuarioSoapIn">
    <wsdl:part name="parameters" element="tns:crear_usuario" />
  </wsdl:message>
  <wsdl:message name="crear_usuarioSoapOut">
    <wsdl:part name="parameters" element="tns:crear_usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="editar_usuarioSoapIn">
    <wsdl:part name="parameters" element="tns:editar_usuario" />
  </wsdl:message>
  <wsdl:message name="editar_usuarioSoapOut">
    <wsdl:part name="parameters" element="tns:editar_usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="listar_usuariosSoapIn">
    <wsdl:part name="parameters" element="tns:listar_usuarios" />
  </wsdl:message>
  <wsdl:message name="listar_usuariosSoapOut">
    <wsdl:part name="parameters" element="tns:listar_usuariosResponse" />
  </wsdl:message>
  <wsdl:message name="listar_usuarioSoapIn">
    <wsdl:part name="parameters" element="tns:listar_usuario" />
  </wsdl:message>
  <wsdl:message name="listar_usuarioSoapOut">
    <wsdl:part name="parameters" element="tns:listar_usuarioResponse" />
  </wsdl:message>
  <wsdl:message name="borrar_usuarioSoapIn">
    <wsdl:part name="parameters" element="tns:borrar_usuario" />
  </wsdl:message>
  <wsdl:message name="borrar_usuarioSoapOut">
    <wsdl:part name="parameters" element="tns:borrar_usuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="WSA2Soap">
    <wsdl:operation name="crear_usuario">
      <wsdl:input message="tns:crear_usuarioSoapIn" />
      <wsdl:output message="tns:crear_usuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editar_usuario">
      <wsdl:input message="tns:editar_usuarioSoapIn" />
      <wsdl:output message="tns:editar_usuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listar_usuarios">
      <wsdl:input message="tns:listar_usuariosSoapIn" />
      <wsdl:output message="tns:listar_usuariosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listar_usuario">
      <wsdl:input message="tns:listar_usuarioSoapIn" />
      <wsdl:output message="tns:listar_usuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="borrar_usuario">
      <wsdl:input message="tns:borrar_usuarioSoapIn" />
      <wsdl:output message="tns:borrar_usuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSA2Soap" type="tns:WSA2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crear_usuario">
      <soap:operation soapAction="http://tempuri.org/crear_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editar_usuario">
      <soap:operation soapAction="http://tempuri.org/editar_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar_usuarios">
      <soap:operation soapAction="http://tempuri.org/listar_usuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar_usuario">
      <soap:operation soapAction="http://tempuri.org/listar_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrar_usuario">
      <soap:operation soapAction="http://tempuri.org/borrar_usuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSA2Soap12" type="tns:WSA2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crear_usuario">
      <soap12:operation soapAction="http://tempuri.org/crear_usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editar_usuario">
      <soap12:operation soapAction="http://tempuri.org/editar_usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar_usuarios">
      <soap12:operation soapAction="http://tempuri.org/listar_usuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listar_usuario">
      <soap12:operation soapAction="http://tempuri.org/listar_usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrar_usuario">
      <soap12:operation soapAction="http://tempuri.org/borrar_usuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSA2">
    <wsdl:port name="WSA2Soap" binding="tns:WSA2Soap">
      <soap:address location="https://localhost:44396/WSA2.asmx" />
    </wsdl:port>
    <wsdl:port name="WSA2Soap12" binding="tns:WSA2Soap12">
      <soap12:address location="https://localhost:44396/WSA2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>