WebAdministracion/Negocios/Connected Services/Login_Reference1/WSA1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login_Administradores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login_AdministradoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="respuesta" nillable="true" type="tns:LoginAdmin" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginAdmin">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="resultado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Login_AdministradoresSoapIn">
    <wsdl:part name="parameters" element="tns:Login_Administradores" />
  </wsdl:message>
  <wsdl:message name="Login_AdministradoresSoapOut">
    <wsdl:part name="parameters" element="tns:Login_AdministradoresResponse" />
  </wsdl:message>
  <wsdl:portType name="WSA1Soap">
    <wsdl:operation name="Login_Administradores">
      <wsdl:input message="tns:Login_AdministradoresSoapIn" />
      <wsdl:output message="tns:Login_AdministradoresSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSA1Soap" type="tns:WSA1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login_Administradores">
      <soap:operation soapAction="http://tempuri.org/Login_Administradores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSA1Soap12" type="tns:WSA1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login_Administradores">
      <soap12:operation soapAction="http://tempuri.org/Login_Administradores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSA1">
    <wsdl:port name="WSA1Soap" binding="tns:WSA1Soap">
      <soap:address location="https://localhost:44396/WSA1.asmx" />
    </wsdl:port>
    <wsdl:port name="WSA1Soap12" binding="tns:WSA1Soap12">
      <soap12:address location="https://localhost:44396/WSA1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>